body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-color: #BBBBBB;
  background-color: #000000;
}

h1 {
  color: #BBBBBB;
}

p {
  color: #AAAAAA;
}

a {
  color: #00B7FF;
}