_build/*
*.byte
*.native
*.d.byte
*.top
.DS_Store
node/node_modules/*
node/public/javascripts/vult_node.js
vult_node.js
*.docdir
/vult.sublime-workspace
/_build/
/vultc
/oqamldebug
/npm-debug.log
/debugscript
.gitignore
setup.data
setup.log