profile=ocamlformat
break-cases=fit-or-vertical
parens-tuple=multi-line-only
type-decl=sparse
let-binding-spacing=sparse
if-then-else=vertical
cases-exp-indent=2
break-infix=fit-or-vertical
break-separators=before
field-space=loose
space-around-arrays=true
space-around-lists=true
space-around-records=true
sequence-style=terminator
indicate-multiline-delimiters=no
break-sequences=true
break-collection-expressions=fit-or-vertical
wrap-fun-args=false
single-case=sparse
margin=120