<link rel="stylesheet" type="text/css" href="../css/vult.css" media="screen">
<link rel="shortcut icon" href="../images/favicon.ico"/>

<div class="header">
    <center><img src="../images/VultH.png" alt="Vult" title="Vult" align="middle"></center>
</div>

{{ partial "menu.html" . }}

<div class="content">
    <div class="blog_list">
        <ul>
            {{ range .Site.Pages }}
				<li> <a href="{{ .Permalink }}">{{ .Title }}</a> <div class="g-commentcount" data-href="{{ .Permalink }}"></div> </li>
            {{ end }}
        </ul>
    </div>
</div>

<script src="https://apis.google.com/js/plusone.js">
</script>