<link href="https://fonts.googleapis.com/css?family=Francois+One|Rasa" rel="stylesheet">
<script src="https://use.fontawesome.com/aa67c38f9b.js"></script>
<div class="menu" align="middle">
  <ul>
    <li><a href="/"><i class='fa fa-home'></i> Home</a></li>
    <li><a href="/overview"><i class='fa fa-bullseye'></i> Overview</a></li>
    <li><a href="/tutorials"><i class='fa fa-book'></i> Tutorials</a></li>
    <li><a href="/blog"><i class='fa fa-newspaper-o'></i> Blog</a></li>
    <li><a href="/demo"><i class='fa fa-code'></i>Live Demo</a></li>
    <li><a href="https://github.com/modlfo/vult"><i class='fa fa-code-fork'></i>Source</a></li>
    <li><a href="https://www.npmjs.com/package/vult"><i class='fa fa-download'></i>Install</a></li>
  </ul>
</div>